:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primery-bgr-color: #FFFFFF;
    --secondary-bgr-color: #F5F4FA;
    --footer-brg-color: #2F303A;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}

body {

    background-color: var(--primary-bgr-color);
    color: var(--title-color);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    
}
h1, h2, h3, h4 { 
    margin: 0;
    color: var(--title-color);
}
p {
    margin: 0;
    color: var(--text-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    border-bottom: 1px solid #ECECEC;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header .container {
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--title-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-accent {
    color: var(--accent-color);
}
.header .logo {
    margin-right: 93px;
}
.sait-nav {
    display: flex;
}
.sait-nav-item:not(:last-child) {
    margin-right: 50px;
}
.sait-nav .link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-color);
    text-decoration: none;


}
.sait-nav .link.current {
    color: var(--accent-color);
}
.sait-nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.header .contacts {

    display: flex;
    margin-left: auto;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;

}
.contacts-link {
    font-style: normal;
    text-decoration: none;
}
.header .contacts-link{
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.contacts-link > .icon {
    margin-right: 10px;
    fill: currentColor;
}
.sait-nav .link,
.contacts-link,
.contacts-link.adds {
    transition: color var(--duration) var(--timing-function);
}
.sait-nav .link:hover,
.sait-nav .link:focus,
.contacts-link:hover,
.contacts-link:focus,
.contacts-link.adds:hover,
.contacts-link.adds:focus,
.footer .contacts-link:hover,
.footer .contacts-link:focus {
    color: var(--accent-color);
}

/*Hero */


.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;

    background-image: linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
        url(../img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-title {
    margin: 0 auto 30px auto;
    max-width: 696px;

    color: var(--primery-bgr-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;
    
    color: var(--primery-bgr-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/*Footer*/
.hero,
.footer {
    background-color: var(--footer-brg-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-box {
    display: flex;
    align-items: baseline;
}
.footer-contacts-box {
    margin-right: 70px;
}
.footer .logo {
    color: var(--primery-bgr-color);
}
.footer-contacts {
    margin-top: 20px;

    line-height: 1.71;
}
.footer-contacts-item {

}
.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer .contacts-link {
    color: rgba(255, 255, 255, 0.6);
}
.contacts-link.adds {
    color: var(--primery-bgr-color);
}
.footer-socials {
    margin-right: 93px;
}

.footer-socials > .text,
.footer-subs > .text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    color: var(--primery-bgr-color);
    text-transform: uppercase;
}

.socials-list {
    display: flex;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--duration) var(--timing-function);
                
}

.footer-socials .socials-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-icon {
    width: 20px;
    height: 20px;
}

.footer-socials .socials-icon {
    fill: var(--primery-bgr-color);
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
    background-color: var(--accent-color);
}
.subs-form {
    display: flex;
}
.subs-input {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    color: var(--primery-bgr-color);
    background-color: transparent;

    transform: border-color var(--duration) var(--timing-function);
}
.subs-input:hover,
.subs-input:focus {
    border-color: var(--accent-color);
}
.subs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 4px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primery-bgr-color);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;  
}
.subs-btn:hover,
.subs-btn:focus {
    background-color: #188CE8;
}
.subs-btn > .text {
    margin-right: 10px;
}


/*Main*/
.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Features */
.features {
    padding-top: 94px;
}
.features-list {
    display: flex;
}
.feature-item:not(:last-child) {
    margin-right: 30px;
}
.feature-thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: var(--secondary-bgr-color);
}
.feature-icon {
    width: 70px;
    height: 70px;

}
.feature-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-description {
    line-height: 1.71;
}


/*Services, employees*/
.services, .employees, .clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.services-list, .employees-list {
    display: flex;
}
.service:not(:last-child) {
    margin-right: 30px;
}
.service {
    position: relative;
}
.servise-description {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;


    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primery-bgr-color);
    background-color: rgba(47, 48, 58, 0.8);
}
.employees {
    background-color: var(--secondary-bgr-color);
}
.employee {
    background-color: var(--primery-bgr-color);
    text-align: center;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    
}
.employee:not(:last-child) {
    margin-right: 30px;
}
.employee-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.employee-name, .employee-position {
    font-size: 16px;
    line-height: 1.19;
    
}

.employee-name {
    margin-bottom: 10px;

    font-weight: 500;
}
.employee-position {
    margin-bottom: 16px;
}

.employees .socials-list {
    justify-content: center;
}     
.employees .socials-icon {    
    fill: #AFB1B8;
    transition: fill var(--duration) var(--timing-function);;
}
.employees .socials-link:hover,
.employees .socials-link:focus {
    background-color: var(--accent-color);
 
}
.employees .socials-link:hover .socials-icon,
.employees .socials-link:focus .socials-icon{
fill: var(--primery-bgr-color);
}

/*Clients*/
.clients-list{
    display: flex;
}
.clients-item:not(:last-child) {
    margin-right: 30px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border var(--duration)  var(--timing-function) ;
}
.clients-logo {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;

    transition: fill var(--duration) var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}
.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
    fill: var(--accent-color);
}

/*Portfolio*/
.portfolio {    
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-btn-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;

    color: var(--title-color);
    background-color: var(--secondary-bgr-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    cursor: pointer;
    
    transition: color var(--duration) var(--timing-function), 
                background-color var(--duration) var(--timing-function),
                box-shadow var(--duration) var(--timing-function);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primery-bgr-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cases {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    }
.case-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;

    /*margin-right: 30px;
    margin-botton: 30px;*/
}
/*.case-item:nth-child(3n) {
    margin-right: 0;
}
.case-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}*/


.case-link {
    display: block;
    text-decoration: none;
    box-shadow: 0;

    transition: box-shadow var(--duration) var(--timing-function);
}
.case-link:hover,
.case-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.case-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.case-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.cases.list .case-type {
    font-size: 16px;
    line-height: 1.88;
}
.case-thumb {
    position: relative;
    overflow: hidden;
}
.case-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--duration) var(--timing-function);
}
.case-link:hover .case-overlay,
.case-link:focus .case-overlay {
    transform: translateY(0);
}

.case-text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--primery-bgr-color);
}


/*Modal window*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);


    opacity: 1;

    transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;
    
    width: 528px;
    height: 581px;

    background-color: var(--primery-bgr-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--duration) var(--timing-function);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;

    cursor: pointer;

    transform: fill var(--duration) var(--timing-function);
}
.btn-close:hover, 
.btn-close:focus {
    fill: var(--accent-color);
}
.modal-text {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-color);
}
.callback-form {
    text-align: center;
}
.field {
    position: relative;
    display: block;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}
.callback-form .label {
    
    display: block;
    text-align: left;
    margin-bottom: 4px;
}
.callback-input, .comment {
    display: block;
    padding-left: 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transform: border-color var(--duration) var(--timing-function);
}
.callback-input {
    height: 40px;
}
.field:focus-within .callback-input,
.field:focus-within .comment,
.field:hover .callback-input,
.field:hover .comment {
    border-color: var(--accent-color);
    outline: none;
}

.label-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: fill var(--duration) var(--timing-function);
}
.field:hover .label-icon,
.field:focus-within .label-icon {
    fill: var(--accent-color);
}
.comment {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;

    height: 120px;
    resize: none;

    transform: border-color var(--duration) var(--timing-function);
}
.comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}
.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    line-height: 1.71;
    color: var(--text-color);

}
.agreement a {
    color: var(--accent-color);
}
.agreement .icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;

    transform: border-color var(--duration) var(--timing-function),
    background-image var(--duration) var(--timing-function);
    
}
.agreement:hover .icon,
.checkbox:focus-within + .icon {
    border-color: var(--accent-color);
}
.checkbox:checked + .icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
    background-size: contain;
    background-origin: border-box;

}   
.form-btn {
    
    padding: 10px 55px;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primery-bgr-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transform: background-color var(--duration) var(--timing-function);
}
.form-btn:hover,
.form-btn:focus {
    background-color: #188CE8;
}
